<html>
<head>
 <title>Your Comments</title>
 <link href='style.css' type="text/css" rel="stylesheet" />
</head>
<body>
 <div class="container">
 <h3>Your Comments</h3>
 <form action='/result' method='post'>
  <label>Your Name: </label>
  <input type='text' name='name' placeholder='Your name'></br>
   <label>Dojo Location:</label>
  <select name='location' placeholder='Location'>
    <option value=''>-- Please select --</option>  
    <option value='Mountain View'>Mountain View</option>  
  	<option value='Los Angeles'>Los Angeles</option>	
  	<option value='Seattle'>Seattle</option>	
  </select></br>
   <label>Favorite Language:</label>
  <select name='language' placeholder='Language'>
    <option value=''>-- Please select --</option>  
  	<option value='Javascript'>Javascript</option>	
  	<option value='PHP'>PHP</option>	
  	<option value='Python'>Python</option>	
  	<option value='Rails'>Rails</option>	
  	<option value='C++'>C++</option>	
  </select></br>
   <label>Comment (Optional):</label>
  <textarea name='comment' rows='6' placeholder='Comments'></textarea></br>
  <input type='submit' value='Submit' class='button pull-right'>
 </form>
 </div>
</body>
</html>